<html>
    <!-- <meta charset="WINDOWS-1251"> -->
    @{
        ViewData["Title"] = "хуй Page";
    }    

    <div class="text-center">
        <h1 class="display-4">хуй</h1>
        <p>хуй</p>
    </div>
</html>